.card-anuncio {
  .info-card {
    border-radius: 8px;
  }

  .anuncio-img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .anuncio-title {
    font-size: 18px;
    font-weight: bold;
    margin: 8px 0;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
