.user-register-form {
  width: 100%;

  .col-dados-pessoais {
    border-right: 1px solid #ccc;
  }

  .v-btn__content {
    font-weight: 700;
  }

  .p-title {
    letter-spacing: 1.5px !important;
    font-weight: 600;
  }

  .container-cpf-cnpj {
    display: flex;
    gap: 10px;

    .radio {
      width: 40%;
      padding-top: 4px;
    }

    .text-field {
      width: 60%;
    }
  }
}
